alias gci="git pull --rebase && rake && git push"
alias tlf="tail -f"

alias ln='ln -v'
alias mkdir='mkdir -p'
alias ...='../..'
alias l='ls'
# alias ll='ls -al'
alias ll='ls -Alh'

alias -g G='| grep'
alias -g M='| less'
alias -g L='| wc -l'
alias -g ONE="| awk '{ print \$1}'"

